<%if(success.length){%>
  <div class="flash alert alert-success alert-dismissible px-5 fade show" role="alert">
    <strong><%= success %></strong>
    <button type="button" class="btn-close mt-2 mx-1" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>

<%if(error.length){%>
  <div class="flash alert alert-danger alert-dismissible px-5 fade show" role="alert">
    <strong><%= error %></strong>
    <button type="button" class="btn-close mt-2 mx-1" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>