<footer>
  <div class="f_info">
    <div class="f_info_social"></div>
    <div>Sayan pvt Lmited</div>
    <div class="f_info_links">
      <a>privecy</a>
      <a>terms</a>
    </div>
  </div>
</footer>
