<nav
  class="navbar navbar-expand-md bg-body-light sticky-top px-lg-5 px-md-3 px-sm-3 px-3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><ion-icon
        class="color"
        style="display: inline-block"
        name="logo-amplify"
      ></ion-icon>
      <h2 style="display: inline-block">airbnb</h2></a
    >

    <div id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link a-border" href="/listing">All listing</a>
        <a class="nav-link" href="/listing/new">Add new listing</a>
      </div>
    </div>
    <div class="support"></div>
  </div>
</nav>
