<% layout('/layouts/boilerplats') -%>
<div class="signup">
    <div class="div1">
      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">enter username!</div>
        </div><br<<hr>

        
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Login</button>
      </form>
    </div>

</div>
