* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}

html,
body {
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none !important;
}

a {
  text-decoration: none !important;
}

.navbar {
  height: 5rem;
  border-bottom: 1.5px solid rgba(183, 180, 180, 0.443);
  background-color: #fff;
  padding: 0 5rem !important;
}

#navbarNavAltMarkup {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 17px !important;
}

.color {
  color: #fe424d;
  font-size: 2.5rem;
  text-align: center;
}

.container-fluid {
  padding: 12px !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  flex-direction: column;
  background-color: grey;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.body {
  margin: 1.1rem 0 3rem !important;
  padding-top: 0px !important;
}

.card-img-top {
  border-radius: 0.7rem !important;
  width: 100% !important;
  aspect-ratio: 16/14;
}

.card-body {
  padding: 0.8rem 0 0 0 !important;
}

.card-img-overlay {
  background-color: #fff;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.09;
}

ion-icon {
  position: relative;
  top: 0.5rem;
  margin-right: 0.5rem;
}

a h2 {
  font-weight: 520;
  font-size: 25px;
}

.support {
  height: 100%;
  width: 137.5px;
}

.show-about p {
  margin: 0 0 5px 0;
}

.show-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-img img {
  height: 23.5rem;
  width: 34.5rem;
  border-radius: 13px;
}

.edit-btn, .delet-btn {
  padding: 5px;
  width: 50px;
  display: inline-block;
  text-align: center;
  outline: none;
  background-color: #fe424d;
  border-radius: 5px;
  margin-top: 20px;
}

.a {
  border: none;
  outline: none;
  background-color: #fe424d;
  color: white;

}
