<% layout('/layouts/boilerplats') -%>     <!--layouts ar jonno full path likhte hoy na -->
<div class="new-listing body px-lg-5 px-md-3 px-sm-3 px-3 body row">
  <div class="col-6 offset-md-3 offset-sm-0">
    <h3>Create a New Listing</h3>

    <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="exampleInputPassword1"
          name="listing[description]"
          placeholder="enter description"
          required
        ></textarea>
        <div class="invalid-feedback">Provide a valid description.</div>
      </div>

      <!-- <div class="mb-3">----
        <label for="image" class="form-label">Image</label>
        <input
          name="listing[image]"
          placeholder="enter image URL/Link"
          type="text"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>---- -->

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          name="listing[image]"
          placeholder="uplode image"
          type="file"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          name="listing[price]"
          placeholder="enter price"
          type="number"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
        <div class="invalid-feedback">Provide a valid price.</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          name="listing[country]"
          placeholder="enter country"
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
        <div class="invalid-feedback">Provide a valid country.</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
        <div class="invalid-feedback">Provide a valid location.</div>
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
