<% layout('/layouts/boilerplats') -%>
<div class="signup">
    <div class="div1">
      <form action="/signup" method="post" class="needs-validation" nonvalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </form>
    </div>

</div>
